.container {
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 4fr 1.5fr;
  grid-template-rows:1fr 1.5fr 4fr 1.5fr;

  grid-template-areas: 
  "header header header"
  "main main aside"
  "footer footer footer";

  row-gap: 50px;
  column-gap: 0px;

  
}
header {grid-area: header;}
main {grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}
a{
    color: black;
  }
.title{
    text-align: center;
    margin: 0;
    border-bottom: 4px double black;
    border-left: 0;
    border-right: 0;
    padding: 0;
    background-color: #0E46A3;
  }
body{
    margin: 0 auto;
}
.list{
  border-right: 2px solid black;
  background-color: #9AC8CD;
  border-bottom: 2px solid black;
}

.photo{
  border-left: 5px dotted black;
  background-color: #edfffe;
  text-align: center;
  border-bottom: 2px dotted black;
}
.date{
  border-left: 5px dotted black;
  background-color: #edfffe;
  text-align: center;
  border-bottom: 2px dotted black;
}
.wrap {
	max-width: 100%;
    width: 100%;
}
#wrapper {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 30%;
}
#wrapper .wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}